/* Full-width input fields */
.modal input[type=text],.modal input[type=password], .modal select {
    width: 85%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.modal button {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    float:left;
    width:50%;
}

/* Extra styles for the cancel button */
.modal .cancelbtn {
    padding: 14px 20px;
    background-color: #ffc4c4;
}

/* Add padding to container elements */
.modal .modalInnerContainer {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    max-width:60%; 

    font-family: Arial,Helvetica,sans-serif;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*tamaño de la letra de los mensajes de error del validate*/
#nom_usr-error, #ape_usr-error,mail_usr-error {

    font-size: 0.8em;
    font-weight: bold;
    color:#f44336;

}

#psw_repeat-error, #psw-error {

    font-size: 0.8em;
    font-weight: bold;
    color:#f44336;

}


#editUserForm{
    width: 45% !important; 
    height: 460px;
}

#editUserForm select{
    width: 85% !important; 
}
#editUserForm table{
    margin: 0 auto;
}

#newUserForm{
    width: 45% !important;
    height: 460px;
}

#updatePass{
    width: 30% !important;
}
#updatePass input{
    width: 100% !important;
}

#newUserForm select{
    width: 85% !important; 
}
#newUserForm table{
    margin: 0 auto;
}